html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'Playwrite';
  src: url('fonts/Playwrite-degrund.woff2') format("woff2"),
       url('fonts/Playwrite-degrund.woff') format('woff'),
       url('fonts/Playwrite-degrund.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Playwrite', serif;

  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.header {
  border-bottom: 5px solid orange;
  padding: 0 30px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 50px;
}
.header__inner-title {
  font-size: 28px;
}
.header__inner-logo {
  display: flex;
}
.header__inner-search {
  width: 350px;
  position: relative;
}
.input {
  width: 100%;
  padding: 8px 35px 8px 15px; 
  border-radius: 25px;
  border: 1px solid #ddd;

  outline: none; 
  transition: border-color 0.3s ease;
}
.input:focus {
  border: 1px solid orange;
  box-shadow: 0 0 8px rgba(200, 122, 34, 0.859)
}
.input__icon {
  content: '';
  position: absolute;
  background-image: url('icons/search.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;

  transition: all 0.3s ease
}
.input__icon:hover {
  background-image: url('icons/search-active.svg');
  transition: all 0.3s ease
}
.input__icon-close {
  content: '';
  position: absolute;
  background-image: url('icons/input-close.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;

  display: none;
}
.input__icon-close:hover {
  background-image: url('icons/input-close-active.svg');
  transition: all 0.3s ease
}
.info-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  display: none;

}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  border: 2px solid orange;

}
.gallery {
  padding: 15px 150px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.image {
  width: 380px;
  height: 220px;
  object-fit: cover;
  border-radius: 2px;
}




.footer {
  background-color: #fafafa;
  border-top: 2px solid orange;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

}
.footer-inner {
  padding: 10px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-inner__information {
  display: flex;
  align-items: center;
}
.footer-inner__information-link {
  padding-right: 20px;
}
.footer-inner__github-img {
  width: 50px;
  height: 50px;
}
.footer-inner__school-img {
  width: 45px;
  height: 45px;
}

@media (max-width: 1100px){
  .gallery {
    padding: 15px;
  }
}
@media (max-width: 900px){
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .image {
    width: 100%;
  }
}
@media (max-width: 650px){
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__inner {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

@media (max-width: 400px){
  .header__inner-search {
    width: 250px;
  }
}
